body, .empty3 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-attachment: fixed; }

body, .empty3 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-attachment: fixed; }

.header {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.header__content {
  display: inline-flex;
  list-style: none; }

.header__content li {
  padding: 1rem; }

.header__content li a {
  padding: 1rem;
  color: white; }

footer {
  height: 20rem;
  background-color: grey; }

body, .empty3 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-attachment: fixed; }

.section__tattoo {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  margin: auto;
  background-color: white; }

.artist__card {
  justify-self: center;
  margin: 3rem 0; }
  .artist__card .profile--contact {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    background-color: black;
    border-radius: 5px; }
    .artist__card .profile--contact a {
      color: white; }

.artist__card img {
  width: 15rem;
  height: 15rem;
  border-radius: 15px; }

.main__artist img {
  height: 30rem;
  width: auto;
  border-radius: 15px; }

.tattoo__artist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  justify-content: center;
  margin: auto; }

.artist__card {
  width: fit-content; }

.work__gallery {
  margin-top: 4rem; }

.work__gallery--img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.2rem;
  justify-content: space-around;
  justify-items: center;
  margin: 1rem auto 3rem auto; }

.work__gallery img {
  width: 25rem;
  height: 25rem;
  border-radius: 15px; }

.artist__card--info {
  list-style: none;
  text-align: center; }

/*----------hover style----------*/
.artist__card {
  display: inline-block;
  position: relative; }

.desvanecer:hover {
  opacity: 0.7;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 500ms; }

a {
  transition: .3s all ease; }
  a, a:hover {
    text-decoration: none !important; }

.text-black {
  color: #000; }

.content {
  padding: 7rem 0; }

.heading {
  font-size: 2.5rem;
  font-weight: 900; }

.form-control {
  border: none;
  border-bottom: 1px solid #ccc;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  background: none; }
  .form-control:active, .form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #000; }

.col-form-label {
  color: #000;
  font-size: 13px; }

.btn, .form-control, .custom-select {
  height: 45px; }

.custom-select:active, .custom-select:focus {
  outline: none;
  box-shadow: none;
  border-color: #000; }

.btn {
  border: none;
  border-radius: 0;
  font-size: 12px;
  letter-spacing: .2rem;
  text-transform: uppercase; }
  .btn.btn-primary {
    background: black;
    color: white;
    padding: 15px 20px; }
  .btn:hover {
    color: white; }
  .btn:active, .btn:focus {
    outline: none;
    box-shadow: none; }

.contact-wrap .col-form-label {
  font-size: 14px;
  color: #b3b3b3;
  margin: 0 0 10px 0;
  display: inline-block;
  padding: 0; }

.contact-wrap .form, .contact-wrap .contact-info {
  padding: 40px; }

.contact-wrap .contact-info {
  color: rgba(255, 255, 255, 0.5); }
  .contact-wrap .contact-info ul li {
    margin-bottom: 15px;
    color: rgba(255, 255, 255, 0.5); }
    .contact-wrap .contact-info ul li .wrap-icon {
      font-size: 20px;
      color: white;
      margin-top: 5px; }

.contact-wrap .form {
  background: white; }
  .contact-wrap .form h3 {
    color: grey;
    font-size: 20px;
    margin-bottom: 30px; }

.contact-wrap .contact-info {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  .contact-wrap .contact-info a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  .contact-wrap .contact-info h3 {
    color: white;
    font-size: 20px;
    margin-bottom: 30px; }

label.error {
  font-size: 12px;
  color: red; }

#message {
  resize: vertical; }

#form-message-warning, #form-message-success {
  display: none; }

#form-message-warning {
  color: #B90B0B; }

#form-message-success {
  color: #55A44E;
  font-size: 18px;
  font-weight: bold; }

.submitting {
  float: left;
  width: 100%;
  padding: 10px 0;
  display: none;
  font-weight: bold;
  font-size: 12px;
  color: #000; }

body, .empty3 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-attachment: fixed; }

.section__welcome {
  justify-content: center;
  text-align: center;
  height: 30rem; }
  .section__welcome .section__main {
    justify-self: center; }
    .section__welcome .section__main p {
      width: 60vw;
      text-align: center; }

* {
  padding: 0;
  margin: 0;
  list-style: none; }

a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem; }

ul {
  padding: 0; }

body {
  /*background-image: url("../img/background/backgroundbw1.jpg");*/
  background-image: url("../img/background/backgroundbw2.jpg");
  background-repeat: no-repeat;
  /* background-position: top center; */
  background-color: black; }

h1 {
  text-align: center;
  justify-items: center;
  align-items: center;
  font-size: 6rem;
  color: white;
  margin: auto; }

h2 {
  text-align: center;
  justify-items: center;
  font-size: 4rem;
  margin: 2rem auto; }

h3 {
  text-align: center;
  justify-items: center;
  font-size: 2rem; }

.empty1 {
  height: 60rem;
  background-color: none; }

.empty2 {
  height: 30rem;
  background-color: none; }

.empty3 {
  height: 30rem;
  background-color: none;
  background-image: url("../img/logo/hilikuslogo.png");
  background-color: black; }

.section {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  margin: auto;
  background-color: white; }
