@import './variables';

.section__piercing{
    @extend %mainArtistCard; 

    .tattoo__artist{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 3rem;
        justify-content: center;
        margin: auto;

        .artist__card{
            justify-self: center;
            margin: 3rem 0;
        
            img{
                width: 15rem;
                height: 15rem;
                border-radius: 15px;
            }

            .artist__card--info{
                list-style: none;
                text-align: center;
            } 
        
        }
    }

    .work__gallery{
        margin-top: 4rem;
    
        .work__gallery--img{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 0.2rem;
            justify-content: space-around;
            justify-items: center;
            margin: 1rem auto 3rem auto;
    
            img{
                width: 25rem;
                height: 25rem;
                border-radius: 15px;
            }
        }
        
    }
}
